*{

    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
  
}

body{

    background-color: black;
}

.parrafo{

    text-align: center;
    margin-top: 0.5rem;

}
.logo{

    width: 40%;
    height: 40%;
    display: block;
    margin: auto;

}

.tamano{
    font-size: 12px;
}

img{
    height: 8rem;
}